body{
  font-family: 'Trefoil sans'
}

.titleLI{
  color: black !important;
  font-size: 13pt;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 10px;
}
.contentLI{
  padding: 10px 10px 10px 20px;
  border: 1px solid #00ae58 !important;
  border-radius:15px !important;
  margin-top: 5px;
  width: 175px;
  height: 75px;
  line-height: 10px;
  overflow: auto;
  word-wrap: none;
}

.ulLI{
  margin: 0;
  padding: 0;
}
.liLI{
  margin-bottom: 12px;
  list-style: none;
}
.liLI a{
  color: black;
}
